.quiz-answers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.quiz-answers button {
  margin: 2.5px;
  flex: 1 0 30%;
}

.quiz-answer-list {
  width: auto;
}
.quiz-answer-dest {
  /* background:#301506; */
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.quiz-answers {
  padding-bottom: 25px;
}
